<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 - Page Not Found</title>
  
</head>
<body>
  <div class="page-wrapper">
    {{>header}}
  <br>
  <br>
    <div class="error-container">
      <h1>404</h1>
      <h2>Page Not Found</h2>
      <p>Oops! The page you're looking for doesn’t exist or was moved.</p>
      <a href="/" class="home-button">Go Back Home</a>
    </div>
<br>
  <br>
    {{>footer}}
  </div>
</body>
</html>
