<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/portfolio.css">
  <link rel="stylesheet" href="/headerfooter.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RP's Portfolio</title>
  </head>
<body>


{{>header}}
  
  <main>
    <section class="firstsection">
      <div id="leftsec">
        <p>Hi, my name is <span>Ridham Patel</span></p>
        <div>and I am a Passionate   </div>
             <span id="element">backend devloper</span></div>
      </div>
      <div id="rightsec">
        <img src="img/Picsart_25-05-12_12-41-27-368.png" alt="Profile Picture">
      </div>
    </section>

   
    
  </main>


  
  {{>footer}}
</body>


</html>